{% include 'dashboard/components/headerDashboard.twig' %}
<div class="page">
    {% include'dashboard/components/menuDashboard.twig' %}
    <main>
        <div class="breadcrumb grey lighten-3">
            <h6>Profil utilizator</h6>
        </div>
        <div class="card custom-card">
            <form action="{{ path_for('postAddUser') }}" method="post">
                <table class="striped">
                    <tbody>
                    <tr>
                        <td class="right-align">Nume</td>
                        <td>
                            <div class="input-field">
                                <input type="text" name="name" placeholder="Numele">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right-align">Prenume</td>
                        <td>
                            <div class="input-field">
                                <input type="text" name="lastname" placeholder="Prenume">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right-align">An</td>
                        <td>
                            <div class="input-field">
                                <select name="year">
                                    <option value="" disabled selected>Selecteaza anul</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right-align">Sectie</td>
                        <td>
                            <div class="input-field">
                                <select name="section">
                                    <option value="" disabled selected>Selecteaza sectiunea</option>
                                    {% for allocation in allocations %}
                                        <option value="{{ allocation.id }}" >{{  function.getCollege(allocation.college) }} - {{  function.getSection(allocation.section) }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right-align">Numar matricol</td>
                        <td>
                            <div class="input-field">
                                <input type="text" name="username" placeholder="Numar matricol">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn waves-effect waves-light">Adauga!</button> </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</div>
{% include 'dashboard/components/footerDashboard.twig' %}