<!-- Navigatie principala -->
<nav class="main-nav pink darken-4">
    <div class="container">
        <a class="brand-logo">Catalog Virual</a>
        <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url }}{{ path_for('getPortal') }}">Acasa</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a class="center light-blue darken-1"><span class="white-text">Carner virtual</span></a></li>
            <li><a href="contact.html"><span class="grey-text darken-1">Contact</span></a></li>
        </ul>
    </div>
</nav>